<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>
  <main>
    <div>
      <form method="post" action="/post">
        {{--  Product request is an array if form has only this input  --}}
        <input type="number" name="products[1]">
        {{--  Product request is an object if you add this input  --}}
        {{--  <input type="number" name="products[21]">  --}}
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>
</body>

</html>
